@using KC.Web.Workflow.Constants
@using KC.Framework.Extension
@model KC.Service.Workflow.DTO.WorkflowCategoryDTO


<form class="easyui-form" method="post" id="saveform" action="@Url.Action(ActionName.WorkflowDefinition.SaveCategoryForm, ControllerName.WorkflowDefinition)">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Leaf)
    @Html.HiddenFor(model => model.Level)
    @Html.HiddenFor(model => model.TreeCode)
    @Html.HiddenFor(model => model.IsDeleted)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedName)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.ModifiedBy)
    @Html.HiddenFor(model => model.ModifiedName)
    @Html.HiddenFor(model => model.ModifiedDate)

    <table class="dialog-form-table">
        <tbody>
            <tr>
                <td><label for="ParentId">父节点：</label></td>
                <td>
                    @if (Model.ParentId != 0 && Model.Level == 4)
                    {
                        <input id="ParentId" name="ParentId" class="easyui-textbox" value="@Model.ParentId" style="width: 200px;">
                    }
                    else
                    {
                        <input id="ParentId" name="ParentId" class="easyui-textbox" value="@Model.ParentId" style="width: 200px;">
                    }

                </td>
            </tr>
            <tr>
                <td><label class="required">*</label><label for="Name">名称：</label></td>
                <td>
                    @*<input id="Text" name="Text" class="easyui-validatebox easyui-textbox" placeholder=""
                        data-options="width:200,validType:{validator:['@Url.Action(ActionName.Organization.ExistOrganizationName, ControllerName.Organization, new { isEditMode = Model.IsEditMode, orginalName = Model.Text, id = @Model.Id  })','Text','系统已存在该部门名称']}"
                        value="@(null != Model ? Model.Text : string.Empty)" />*@
                    <input id="Text" name="Text" class="easyui-validatebox easyui-textbox"
                           data-options="required:true,width:200,validType:['length[2,100]','isSpace',
                           'existName[\'@Url.Action(ActionName.WorkflowDefinition.ExistCategoryName, ControllerName.WorkflowDefinition)\',\'@Model.ParentId\',\'@Model.IsEditMode\',\'@Model.Text\',\'系统已存在该部门名称\']']"
                           value="@(null != Model ? Model.Text : string.Empty)" />
                </td>
            </tr>
            <tr>
                <td><label class="required">*</label><label for="Index">排序：</label></td>
                <td><input id="Index" name="Index" class="easyui-numberspinner easyui-textbox" data-options="required:true,width:200,min:1,max:100" value="@(null != Model ? Model.Index : 0)"></td>
            </tr>
        </tbody>
    </table>
</form>
<script>

    $(function () {
        $('.textbox').bind('blur', function () {
            $(this).validatebox('enableValidation').validatebox('validate');
        });

        $('#ParentId').combotree({
            url: '@Url.Action(ActionName.WorkflowDefinition.LoadCategoryTree, ControllerName.WorkflowDefinition)',
            queryParams: {
                selectedId: "@Model.ParentId",
                hasRoot: true,
                maxLevel: 2
            },
            required: true,
            editable: false,
            valueField: 'id',
            textField: 'text',
            cache: false,
        });
    });

</script>

