@model  KC.Service.DTO.Pay.PaymentViewModelDTO
@{
    Layout = "~/Views/Shared/_PaymentLayout.cshtml";
}
<style>
    /*.sendChargePhoneCode {
        margin-left: 4px;
        line-height: initial;
        background-color: #1b8cf2;
        color: white;
        border-radius: 3px;
        border: 0px;
    }*/
</style>
<form method="post" data-options="novalidate:true" id="saveform">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MemberId)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.PayeeTenant)
    @Html.HiddenFor(model => model.Amount)
    @Html.HiddenFor(model => model.OrderType)
    @Html.HiddenFor(model => model.PaymentOrderId)
    @Html.HiddenFor(model => model.Payee)
    @Html.HiddenFor(model => model.OrderNo)
    @Html.HiddenFor(model => model.GoodsName)
    @Html.HiddenFor(model => model.OrderAmount)
    @Html.HiddenFor(model => model.Usage)
    @Html.HiddenFor(model => model.PayType)

    <div id="container">
        <div id="order">
            <div class="orderDetail-base" data-role="J_orderDetailBase">
                <h3> 支付订单详情 </h3>
                <div class="ajax-Account od-more-cnt fn-clear">
                    <ul class="order-detail-container">
                        <li class="order-item">
                            <table>
                                <tbody>
                                    <tr>
                                        <th class="sub-th">
                                            订单类型：
                                        </th>
                                        <td>
                                            <p id="OrderType">@Model.OrderType</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="sub-th">
                                            支付订单号：
                                        </th>
                                        <td>
                                            <p id="PaymentOrderId">@Model.PaymentOrderId</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="sub-th">
                                            收款方：
                                        </th>
                                        <td>
                                            <p id="Payee">@Model.Payee</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="sub-th">
                                            业务订单号：
                                        </th>
                                        <td>
                                            <p id="OrderNo">@Model.OrderNo</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="sub-th">
                                            订单总金额：
                                        </th>
                                        <td>
                                            <p id="OrderAmount">@Model.OrderAmount</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="sub-th">
                                            用途 / 备注：
                                        </th>
                                        <td>
                                            <p id="Usage">@Model.Usage</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
            <style>
            </style>
            <div class="bianji_div bdrt0 wdauto">
                <ul class="input_ul shouhuo_li_div ">
                    <li>
                        <div>
                            <p>
                                本次支付金额：
                            </p>
                        </div>
                        <p id="showAmount" class="ph_num num_p">

                        </p>
                    </li>
                    <li>
                        <div>
                            <p>
                                交易密码：
                            </p>
                        </div>
                        <input type="password" id="Password" name="Password" />
                    </li>
                    <li>
                        <div>
                            <p>
                                手机号码：
                            </p>
                        </div>
                        @{
                            string phide = Model.Phone;
                            if (!string.IsNullOrEmpty(phide))
                            {
                                phide = phide.Substring(0, phide.Length - (phide.Substring(3)).Length) + "****" + phide.Substring(7);
                            }
                            else
                            {
                                phide = "";
                            }

                        }
                        <p class="ph_num">
                            @phide
                        </p>
                        @*<div type="button" id="yzm">
                                发送验证码
                            </div>*@
                        <div>
                            <input type="button" value="发送验证码" id="yzm" class="sendChargePhoneCode" />
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>
                                手机验证码：
                            </p>
                        </div>
                        <input id="PhoneCode" name="PhoneCode" />
                    </li>
                </ul>
                <div class="btwp_div2">
                    <div type="button" id="btnPay" class="bt_red_bg">
                        确认付款
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
@section scripts
{
    <script src="~/js/layer/layer.js"></script>
    <script>
        $(document).ready(function () {
            var amount = 0;
            if (@Model.Amount< 1) {
                amount =@Model.Amount;
            }
            else {
                 amount = fmoney(@Model.Amount, 2).replace("￥","");
            }
            $("#showAmount").html(amount+ " <span class='yuan_p'>元</span>");
            var countdown = 60;
            $("#yzm").click(function () {
                layer.msg('正在获取验证码，请稍等•••', { icon: 16, shade: 0.01 });
                $.ajax({
                    url: '@Url.Action("GenerateVerfiyPhoneCode", "CPCNPay")',
                    type: "post",
                    data: { memberId: '@Model.MemberId', type: 2, amount: amount, payeeName:'@Model.Payee' },
                    success: function (data) {

                        layer.closeAll('loading');
                        if (data.success) {
                            countdown = 120;
                            settime($("#yzm"));
                        } else {
                            settime($("#yzm"));
                            if (data.message == "") {
                                layer.alert("获取失败，请稍后再试", { icon: 2, offset: ['200px'], title: '系统提示', time: 3000 });
                            } else {
                                layer.alert(data.message, { icon: 2, offset: ['200px'], title: '系统提示', time: 3000 });
                            }
                        }
                    },
                    error: function () {
                        layer.closeAll('loading');
                        layer.alert("错误代码500", { icon: 2, offset: ['200px'], title: '系统提示', time: 3000 });
                    }
                });
            });

            $("#btnPay").click(function () {
                var password = $("#Password").val();
                var code = $("#PhoneCode").val();
                if (password == "") {
                    layer.alert("请输入交易密码", { icon: 2, offset: ['200px'], title: '系统提示', time: 3000 });
                    return;
                }

                if (code == "") {
                    layer.alert("请输入手机验证码", { icon: 2, offset: ['200px'], title: '系统提示', time: 3000 });
                    return;
                }
                var postData = $("#saveform").serialize();
                layer.msg('正在提交数据，请稍等•••', { icon: 16, shade: 0.01 });
                $.ajax({
                    async: true,
                    type: "post",
                    dataType: "json",
                    url: "/CPCNPay/SubmitOrderPay",
                    data: postData,
                    success: function (data) {
                        if (data) {
                            if (data.success) {
                                if (data.result.Success) {
                                    layer.alert("支付成功", { icon: 1, offset: ['200px'], title: '系统提示',
                                                              end:function(){
                                                                    window.close();
                                                                  }});
                                } else {
                                    layer.alert(data.result.ErrorMessage, { icon: 2, offset: ['200px'], title: '系统提示'});
                                }
                            }
                            else {
                                layer.alert("支付失败。", { icon: 2, offset: ['200px'], title: '系统提示'});
                            }
                        }
                    },
                    complete: function () {
                        layer.closeAll('loading');
                    }
                });

            });

            function settime(itms) {
                if (countdown == 0) {
                    $(itms).removeAttr("disabled");
                    $(itms).val("发送验证码");
                    countdown = 60;
                    return;
                } else {
                    $(itms).attr("disabled", true);
                    $(itms).val("重新发送(" + countdown + ")");
                    countdown--;
                }
                setTimeout(function () {
                    settime(itms);
                }, 1000);
            }
        });
    </script>
}
