@using KC.Web.Message.Constants
@model KC.Service.DTO.Message.MessageCategoryDTO

<form class="easyui-form" method="post" data-options="novalidate:true" id="saveform" action="@Url.Action(ActionName.Message.SaveMessageCategory, ControllerName.Message)">
    @Html.AntiForgeryToken()
    <input id="Id" name="Id" type="hidden" value="@Model.Id" />
    <input id="IsDeleted" name="IsDeleted" type="hidden" value="@Model.IsDeleted" />
    <input id="CreatedBy" name="CreatedBy" type="hidden" value="@Model.CreatedBy" />
    <input id="CreatedName" name="CreatedName" type="hidden" value="@Model.CreatedName" />
    <input id="CreatedDate" name="CreatedDate" type="hidden" value="@Model.CreatedDate" />
    <input id="ModifiedBy" name="ModifiedBy" type="hidden" value="@Model.ModifiedBy" />
    <input id="ModifiedName" name="ModifiedName" type="hidden" value="@Model.ModifiedName" />
    <input id="ModifiedDate" name="ModifiedDate" type="hidden" value="@Model.ModifiedDate" />
    <table class="dialog-form-table">
        <tbody>
            <tr>
                <td><label class="required">*</label><label for="ParentId">父节点：</label></td>
                <td>
                    <input id="ParentId" name="ParentId" class="easyui-combotree" 
                           data-options="required:true"
                           value="@(null != Model ? Model.ParentId : null)" 
                           style="width: 200px; height: 26px;">
                </td>
            </tr>
            <tr>
                <td><label class="required">*</label><label for="Text">名&nbsp;&nbsp;&nbsp;称：</label></td>
                <td>
                    <input id="Text" name="Text" class="easyui-validatebox easyui-textbox"
                           data-options="required:true,width:200,validType:['length[2,100]','isSpace',
                           'existName[\'@Url.Action(ActionName.Message.ExistCategoryName, ControllerName.Message)\',\'@Model.ParentId\',\'@Model.IsEditMode\',\'@Model.Text\',\'系统已存在该分类名称\']']"
                           value="@(null != Model ? Model.Text : string.Empty)" />
                </td>
            </tr>
            <tr>
                <td><label class="required"></label><label for="Description">描&nbsp;&nbsp;&nbsp;述：</label></td>
                <td><input id="Description" name="Description" class="easyui-validatebox easyui-textbox" data-options="width:200,validType:'length[2,500]'" value="@(null != Model ? Model.Description : string.Empty)" /></td>
            </tr>

        </tbody>
    </table>

</form>

<script type="text/javascript">
    //初始化消息类型父级列表
    $(function () {
        var url = '@Url.Action(ActionName.Message.LoadCategoryTree,ControllerName.Message)';
        $('#ParentId').combotree({
            url: url,
            queryParams: {
                excludeId: "@Model.Id",
                selectedId: "@Model.ParentId",
                hasAll: false,
                hasRoot: true,
                maxLevel: 2
            },
            required: true,
            editable: false,
            valueField: 'id',
            textField: 'text',
            cache: false,
            onLoadSuccess: function (node, data) {
                $('#ParentId').combotree('tree').tree('expandAll');
                let categoryId = '@(Model != null ? Model.ParentId : 0)';
                if (categoryId != "0") {
                    $('#ParentId').combotree('setValues', categoryId);
                } else if (data != null && data.length > 0) {
                    //默认选中第一个
                    $('#ParentId').combotree('setValue', { id: data[0].id, text: data[0].text });
                }
            }
        });
    });
</script>
