@using KC.Web.Constants
@using KC.Web.Account.Constants
@using Microsoft.AspNetCore.Authorization
@model KC.Service.DTO.Account.PermissionDTO
@inject IAuthorizationService AuthorizationService

<form class="easyui-form" method="post" data-options="novalidate:true" id="saveform" action="@Url.Action(ActionName.Permission.SavePermission, ControllerName.Permission)">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ApplicationId)
    @Html.HiddenFor(model => model.ApplicationName)
    @Html.HiddenFor(model => model.IsEditMode)
    @Html.HiddenFor(model => model.IsDeleted)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedName)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.ModifiedBy)
    @Html.HiddenFor(model => model.ModifiedName)
    @Html.HiddenFor(model => model.ModifiedDate)
    <style>
        span.textbox.combo.textbox-readonly input.textbox-text.validatebox-text.validatebox-readonly.validatebox-f {
            background-color: darkgrey;
        }
    </style>

    <table class="dialog-form-table">
        <tbody>
            <tr>
                <td><label for="ParentId">父节点：</label></td>
                <td>
                    <input id="ParentId" name="ParentId" class="textbox" value="@(null != Model ? Model.ParentId : null)" style="width: 200px; height: 26px;">
                </td>
            </tr>

            <tr>
                <td><label class="required">*</label><label for="ResultType">返回数据类型：</label></td>
                <td>
                    <select id="ResultType" name="ResultType" class="easyui-combobox"
                            data-options="width:260,editable: false, required:true,"
                            asp-items="ViewBag.ResultTypes" panelHeight="auto"></select>
                </td>
            </tr>
            <tr>
                <td><label class="required">*</label><label for="text">名称：</label></td>
                <td><input id="Text" name="Text" class="easyui-validatebox easyui-textbox" 
                           data-options="required:true,width:260,validType:['length[2,60]','isSpace',
                           'existName[\'@Url.Action(ActionName.Permission.ExistPermissionName, ControllerName.Permission)\',\'@Model.ParentId\',\'@Model.IsEditMode\',\'@Model.Text\',\'系统已存在菜单名称\']']" 
                           value="@(null != Model ? Model.Text : string.Empty)" /></td>
            </tr>
            <tr>
                <td><label for="AreaName">Area名称：</label></td>
                <td><input id="AreaName" name="AreaName" class="easyui-validatebox easyui-textbox" 
                           data-options="width:260,validType:'length[2,60]'" 
                           value="@(null != Model ? Model.AreaName : string.Empty)" /></td>
            </tr>
            <tr>
                <td><label class="required">*</label><label for="ControllerName">Controller名称：</label></td>
                <td><input id="ControllerName" name="ControllerName" class="easyui-validatebox easyui-textbox" 
                           data-options="required:true,width:260,validType:'length[2,64]'" 
                           value="@(null != Model ? Model.ControllerName : string.Empty)" /></td>
            </tr>
            <tr>
                <td><label class="required">*</label><label for="ActionName">Action名称：</label></td>
                <td><input id="ActionName" name="ActionName" class="easyui-validatebox easyui-textbox" 
                           data-options="required:true,width:260,validType:'length[2,64]'" 
                           value="@(null != Model ? Model.ActionName : string.Empty)" /></td>
            </tr>
            <tr></tr>
            <tr>
                <td><label class="required">*</label><label for="Index">排序:</label></td>
                <td><input id="Index" name="Index" class="easyui-numberspinner easyui-textbox" 
                           data-options="required:true,width:260,height:26,min:1,max:100" 
                           value="@(null != Model ? Model.Index : 0)"></td>
            </tr>
            <tr>
                <td><label for="Description">描述:</label></td>
                <td>
                    <input class="easyui-textbox" id="Description" name="Description"
                           data-options="multiline:true,width:250,height:60"
                           value="@(null != Model ? Model.Description : "")">
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script>
    $(function () {

        $('.textbox').bind('blur', function () {
            $(this).validatebox('enableValidation').validatebox('validate');
        });

        $('#ParentId').combotree({
            url: '@Url.Action(ActionName.Permission.LoadPermissionTrees, ControllerName.Permission)',
            required: true,
        });

        //$('#ResultType').combobox({
        //    disabled: true
        //});


    });

</script>