@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    Layout = "~/Views/Shared/_PaymentLayout.cshtml";

    Guid appId = ViewBag.AppId;
    @*银行账户管理-更新密码：BtnSetPassword*@
    var canSet = false;
    @if ((await AuthorizationService.AuthorizeAsync(User, "91C87FAF-3DFF-45DB-9D65-74FCE0ED0887")).Succeeded)
    {
        canSet = true;
    }
}
<style>
    .charge-money {
        text-align: left;
        border: 1px solid #d0d0d0;
        font-size: 24px;
        padding: 10px;
    }

    .moneytable {
        margin-top: 10px;
        width: 100%;
    }

        .moneytable tr {
            line-height: 40px;
        }

    .charge-money-tr td {
        border: 1px solid #d0d0d0;
        padding: 4px;
        padding-left: 8px;
    }

    .sendChargePhoneCode {
        margin-left: 10px;
        height: 30px;
        line-height: initial;
        width: 88px;
        background-color: #1b8cf2;
        color: white;
        border-radius: 3px;
        border: 0px;
        cursor: pointer;
    }

    .formNote {
        margin-left: 2px;
        font-size: 15px;
        color: red;
        font-weight: bold;
    }

    .btnCSS {
        background-color: #1b8cf2;
        color: white;
        border-radius: 3px;
        border: 0px;
        width: 80px;
        height: 35px;
        cursor: pointer;
        margin-top: 5px;
    }
</style>
<table class="dialog-form-table moneytable">
    <tbody>
        @*<tr class="charge-money-tr">
                <td width="25%" style="text-align: left;"><label>验证手机号码：</label></td>
                <td>
                    @{
                        string phide = ViewBag.phone;
                        if (!string.IsNullOrEmpty(phide))
                        {
                            phide = phide.Substring(0, phide.Length - (phide.Substring(3)).Length) + "****" + phide.Substring(7);
                        }

                    }
                    <samp id="mobile">@phide</samp>
                    <input type="button" value="发送验证码" onclick="sendChargePhoneCode(this);" class="sendChargePhoneCode" />
                </td>
            </tr>*@
        @*<tr class="charge-money-tr">
                <td width="25%" style="text-align: left;"><label>验证码：</label></td>
                <td>
                    <input type="text" id="code" style=" width: 100%; height: 25px;" />
                </td>
            </tr>*@
        <tr class="charge-money-tr">
            <td width="30%" style="text-align: left;"><label>交易密码：</label></td>
            <td><input type="password" id="password" style=" width: 100%; height: 25px;" /></td>
        </tr>

        <tr class="charge-money-tr">
            <td width="30%" style="text-align: left;"><label>确认交易密码：</label></td>
            <td>
                <input style="width: 100%;height: 25px;" type="password" id="confirmTradePassword" />
            </td>
        </tr>

    </tbody>
</table>

<div class="btnDiv">
    <a id="btnSetPassword" style="margin-left:180px;width: 100px;height: 40px;cursor: pointer;" href="###" class="easyui-linkbutton  @(canSet ? "" : "NoAuth")" onclick="setPassword();">确定</a>
    <a id="btnCancel" class="easyui-linkbutton" style="width: 100px;height: 40px;cursor: pointer;" onclick="parent.setPwdClose();">取消</a>
</div>

<div style="margin-top:10px;">
    <p class="formNote">注：请设置6位以上的数字密码；交易密码是您进行账户充值，订单支付时的重要凭证，请设置并牢记密码。</p>
</div>

<script type="text/javascript">
    document.domain = '@ViewBag.TopDomain';

    var countdown = 0;
    var phone = '@ViewBag.phone';
    var generatePhoneCodeUrl = '@Url.Action("GenerateVerfiyPhoneCode", "BankAccount")';
    function sendChargePhoneCode(obj) {
        if (countdown > 0) {
            return;
        }
        countdown = 60;
        $.ajax({
            url: generatePhoneCodeUrl,
            type: "post",
            data: { mobile: phone, type: 2 },
            success: function (data) {
                if (data.success) {
                    countdown = 120;
                    settime($(".sendChargePhoneCode"));
                } else {
                    settime($(".sendChargePhoneCode"));
                    if (data.message == "") {
                        layer.alert("获取失败，请稍后再试", { icon: 2, title: '系统提示', time: 3000 });
                    } else {
                        layer.alert(data.message, { icon: 2, title: '系统提示', time: 3000 });
                    }
                }
            },
            error: function () {
                layer.alert("错误代码500", { icon: 2, title: '系统提示', time: 3000 });
            }
        });
    }

    function settime(itms) {
        if (countdown == 0) {
            $(itms).removeAttr("disabled");
            $(itms).val("发送验证码");
            return;
        } else {
            $(itms).attr("disabled", true);
            $(itms).val("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function () {
            settime(itms);
        }, 1000);
    }

    var setPasswordUrl = '@Url.Action("SubmitSetPassword", "BankAccount")';
    function setPassword() {

        var password = $("#password").val();
        var confirmTradePassword = $("#confirmTradePassword").val();

        if (password == "") {
            layer.alert("请输入密码！", { icon: 2, title: '系统提示' });
            return;
        }
        if (password.length < 6) {
            layer.alert("密码小于6位数！", { icon: 2, title: '系统提示' });
            return;
        }
        if (isNaN(password)) {
            layer.alert("请输入6位以上的数字密码！", { icon: 2, title: '系统提示' });
            return;
        }
        if (password != confirmTradePassword) {
            layer.alert("两次输入的密码不一致！", { icon: 2, title: '系统提示' });
            return;
        }

        layer.load();
        $.ajax({
            url: setPasswordUrl,
            type: "post",
            data: { password: password },
            success: function (data) {
                if (data.success) {
                    layer.closeAll('loading');
                    layer.alert("设置密码成功！", { icon: 1, title: '系统提示' }, function () {
                        layer.closeAll();
                        parent.setPwdClose();
                    });

                } else {
                    layer.closeAll('loading');
                    layer.alert("设置密码失败", { icon: 2, title: '系统提示', time: 3000 });
                }
            },
            error: function () {
                layer.closeAll('loading');
                layer.alert("错误代码500", { icon: 2, title: '系统提示', time: 3000 });
            }
        });

    }

</script>
