@using KC.Web.Constants;
@model KC.Service.DTO.Portal.CompanyInfoDTO
@*@inject Tenant tenant*@
@{
    ViewBag.Title = "鑫亚科技-首页-Jumoon";
    Layout = "_HomeLayout.cshtml";
    /*主色调：#2d3540  Menu选中border色：#5cb85c  tab页选中border色：#5a9cf9  背景色：#ddd*/

    var selectAddress = string.Empty;
    if (Model.CompanyAddresses.Any())
    {
        var address = Model.CompanyAddresses.FirstOrDefault();
        selectAddress = address.ProvinceName + address.CityName + address.DistrictName + address.Address;
    }
}

@section styles{
<style>
.main .site-menu{height:fit-content;min-width:150px;overflow-x:hidden;overflow-y:auto;z-index:99}
.main .panel-content .layui-panel{min-height:600px;}
.main .layui-menu-lg li{line-height:24px}
.main .layui-menu .layui-menu-item-group .layui-menu-body-title,.main .layui-menu-body-title a{color:#666;font-size:16px;font-weight:700}
.layui-menu .layui-menu-item-group.layui-menu-item-up .layui-menu-body-title{color:#27d;font-size:20px;font-weight:700}

.layui-menu .layui-menu-item-checked,
.layui-menu .layui-menu-item-checked2,
.layui-menu .layui-menu-item-checked a,
.layui-menu .layui-menu-item-checked2 a,
.layui-menu-lg .layui-menu-body-title a:hover,
.layui-menu-lg li:hover {color: #2277DD;font-size: 18px;}
.layui-menu .layui-menu-item-checked:after {border-right: 3px solid #2277DD;}
</style>
}

@section Scripts {
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&amp;ak=p6ZHGNviqEuI0a5slw969G1oGMwtfAv1"></script>
    <!--地图-->
    <script>
        var map = new BMap.Map("allmap");          // 创建地图实例
        var navigationControl = new BMap.NavigationControl({
            // 靠左上角位置
            anchor: BMAP_ANCHOR_TOP_LEFT,
            // LARGE类型
            type: BMAP_NAVIGATION_CONTROL_LARGE,
            // 启用显示定位
            enableGeolocation: true
        });
        map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
        map.addControl(navigationControl);

        let localtionAddress = function (address) {
            //debugger;
            if (address === undefined || address === null || address === '')
                address = '广东省深圳市';

            map.clearOverlays();    //清除地图上所有覆盖物
            function myFun() {
                var p = local.getResults().getPoi(0);
                if (p) {
                    var pp = p.point;    //获取第一个智能搜索的结果
                    map.centerAndZoom(pp, 18);
                    map.addOverlay(new BMap.Marker(pp));    //添加标注
                }
            }
            var local = new BMap.LocalSearch(map, { //智能搜索
                onSearchComplete: myFun
            });
            local.search(address);
            //local.search('广东省 深圳市 深圳市南山区粤海街道铜鼓社区沙河西路2029号新世界豪园里昂道F1-8');
        }
    </script>
    <!--组件初始化-->
    <script>
        let selectType = @ViewBag.Type;
        let selectAddress = '@(selectAddress)';
        $(function () {
            //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function () {
                var element = layui.element;

            });

            showAndHiddenPanel(selectType);

            localtionAddress(selectAddress);
        });

        let showAndHiddenPanel = function (type) {
            //debugger;
            let allMenus = $('#ulMenus li');
            if (allMenus) {
                for (let i = 0; i < allMenus.length; i++) {
                    let item = allMenus[i];
                    $(item).removeClass('layui-menu-item-checked');
                }
                $('#liMenu-' + type).addClass('layui-menu-item-checked');
            }

            let allPanels = $('.panel-content .layui-row');
            if (allPanels) {
                for (let i = 0; i < allPanels.length; i++) {
                    let item = allPanels[i];
                    $(item).hide();
                }
                $('#divPanel-' + type).show();
            }
        }
    </script>
}

<!-- main部分 -->
<div class="main" layout:fragment="content">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md3">
                <div class="layui-panel site-menu">
                    <ul class="layui-menu layui-menu-lg">
                        <li class="layui-menu-item-group" lay-options="{type: 'group', isAllowSpread: true}">
                            <div class="layui-menu-body-title">
                                企业信息
                            </div>
                            <hr>
                            <ul id="ulMenus">
                                <li id="liMenu-0">
                                    <div class="layui-menu-body-title">
                                        <a href="javascript:void(0)" onclick="showAndHiddenPanel(0);">
                                            <span>企业简介 </span><br />
                                            <span class="layui-font-12 layui-font-gray">INTRUDCTION</span>
                                        </a>
                                    </div>
                                </li>
                                <li id="liMenu-1">
                                    <div class="layui-menu-body-title">
                                        <a href="javascript:void(0)" onclick="showAndHiddenPanel(1);">
                                            <span>企业联系人 </span><br />
                                            <span class="layui-font-12 layui-font-gray">CONTACT</span>
                                        </a>
                                    </div>
                                </li>
                                <li id="liMenu-2">
                                    <div class="layui-menu-body-title">
                                        <a href="javascript:void(0)" onclick="showAndHiddenPanel(2);">
                                            <span>企业地址 </span><br />
                                            <span class="layui-font-12 layui-font-gray">ADDRESS</span>
                                        </a>
                                    </div>
                                </li>
                                <li id="liMenu-3">
                                    <div class="layui-menu-body-title">
                                        <a href="javascript:void(0)" onclick="showAndHiddenPanel(3);">
                                            <span>企业账号 </span><br />
                                            <p class="layui-font-12 layui-font-gray">BANK ACCOUNT</p>
                                        </a>
                                    </div>
                                </li>
                                <li id="liMenu-4">
                                    <div class="layui-menu-body-title">
                                        <a href="javascript:void(0)" onclick="showAndHiddenPanel(4);">
                                            <span>法律声明 </span><br />
                                            <span class="layui-font-12 layui-font-gray">LEGAL NOTICES</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="layui-hide-v"> - </div>
            </div>
            <div class="layui-col-md9 panel-content">
                <div id="divPanel-0" class="layui-row">
                    <div class="layui-panel layui-card ">
                        <div class="layui-card-header">
                            <h3 style="margin-bottom:20px">企业简介</h3>
                        </div>
                        <div class="layui-card-body">
                            @Html.Raw(ViewBag.WebSiteInfo?.CompanyInfo)
                        </div>
                    </div>
                </div>
                <div id="divPanel-1" class="layui-row">
                    <div class="layui-panel layui-card ">
                        <div class="layui-card-header">
                            <h3 style="margin-bottom:20px">企业联系人</h3>
                        </div>
                        <div class="layui-card-body">
                            @if (Model.CompanyContacts.Any())
                            {
                                <table class="layui-table">
                                    <tr>
                                        <th>联系人姓名</th>
                                        <th>联系人邮箱</th>
                                        <th>联系人手机</th>
                                        <th>联系人QQ</th>
                                    </tr>
                                    @foreach (var account in Model.CompanyContacts)
                                    {
                                    <tr>
                                        <td>@account.ContactName</td>
                                        <td>@account.ContactEmail</td>
                                        <td>@account.ContactPhoneNumber</td>
                                        <td>@account.ContactQQ</td>
                                    </tr>
                                    }
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div id="divPanel-2" class="layui-row">
                    <div class="layui-panel layui-card ">
                        <div class="layui-card-header">
                            <h3 style="margin-bottom:20px">企业地址</h3>
                        </div>
                        <div class="layui-card-body">
                            @if (Model.CompanyAddresses.Any())
                            {
                                <table class="layui-table">
                                    @foreach (var account in Model.CompanyAddresses)
                                    {
                                        var address = account.ProvinceName+ account.CityName+ account.DistrictName + account.Address;
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0)" onclick="localtionAddress('@address')" style="cursor:pointer;">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                @address
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </table>
                            }
                            <div id="allmap" style="height: 500px;">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="divPanel-3" class="layui-row">
                    <div class="layui-panel layui-card ">
                        <div class="layui-card-header">
                            <h3 style="margin-bottom:20px">企业账号</h3>
                        </div>
                        <div class="layui-card-body">
                            @if (Model.CompanyAccounts.Any())
                            {
                            <table class="layui-table">
                                <tr>
                                    <th>开户行</th>
                                    <th>开户名</th>
                                    <th>银行账号</th>
                                </tr>
                                @foreach (var account in Model.CompanyAccounts)
                                {
                                <tr>
                                    <td>@account.BankName</td>
                                    <td>@account.AccountName</td>
                                    <td>@account.BankNumber</td>
                                </tr>
                                }
                            </table>
                            }

                        </div>
                    </div>
                </div>
                <div id="divPanel-4" class="layui-row">
                    <div class="layui-panel layui-card ">
                        <div class="layui-card-header">
                            <h3 style="margin-bottom:20px">法律声明</h3>
                        </div>
                        <div class="layui-card-body">
                            <pre style="font-size:16px;">
根据国家有关规定，网上注册认证应当以实名形式，并须遵守国家的相关法律法规。鑫亚科技俱乐部运营商为鑫亚（深圳）企业管理咨询有限公司，其成员企业有：

鑫亚（深圳）企业管理咨询有限公司

鑫亚（深圳）企业管理咨询有限公司及成员企业以下统称为“鑫亚科技”。

一、注册认证：
            申请成为鑫亚科技俱乐部会员【下称“会员”、“鑫亚科技会员”】分为以下两个阶段：
            1 、 注册：凡是有意向成为鑫亚科技会员的企业、机构、或个人，均可以直接在鑫亚科技官方网站按提示要求完成信息填写，即可完成注册。
            2 、 认证：在完成注册后，申请人务必将以下材料上传或提交至鑫亚科技会员中心【下称“会员中心”】办理会员认证：
                （1） 个人会员认证，须按系统提示如实填写姓名及公民身份证号码进行实名认证；
                （2） 企业会员和机构会员认证，须按系统提示在以下认证方式中选择一种方式进行认证：1)对公账户认证，须按系统提示如实填写相关企业信息及银行账户信息；2)企业身份认证，须按系统提示如是填写相关企业信息并按要求上传营业执照。

二、服务内容
            经会员中心审核通过后，申请人即完成认证，正式成为鑫亚科技会员，即可享有如下服务：
            1.  申请开通“鑫亚科技云平台”系统服务；
            2.  申请提供互联网信息技术服务，开通“云ERP”、“云CRM”等系统服务；
            3.  申请开通电子签章服务；
            4.  申请信用评级服务；
            5.  其他增值型服务项目。

三、重要提示
            申请人应对所提供材料的真实性、合法性、有效性承担责任，否则应承担由此产生的法律责任，本公司对此不承担任何责任。 
            本公司有权将申请人所提供认证的相关材料进行信息备案并予以保存。
            感谢您的大力支持！


                                                                                                                                                                                                                                                                                                                                                                                服务协议
                                                                                                                                                                                                                                                                                                                                                                                版本生效日期：2018年5月25日

在以下条款中，"用户"是指向鑫亚（深圳）企业管理咨询有限公司（其主要经营地址： 湖北省 深圳市 东湖新技术开发区 关山二路特一号 深圳国际企业中心 5幢502号-A258）申请注册并已成为鑫亚科技会员的个人、企业或者机构。
申请注册时，在点击“确认”之前，请认真、详细阅读全部内容；当用户点击“确认”后即视为已经阅读、理解并接受全部内容，且同意 ：通过在线注册、确认此电子条款的效力视同于用户亲自签字、盖章的书面条款、具有法律约束力，用户不应以未阅读本协议的内容等理由，主张本协议无效，或要求撤销；若用户不同意注册条款的任意内容，或者无法准确理解条款内容，请不要点击“确认”键进行后续操作。
用户进入鑫亚科技会员注册页面并完成全部注册认证程序即意味着用户同意本注册条款约定的全部内容，并成为鑫亚科技的正式用户（鑫亚科技会员）。


第一条    鑫亚科技会员服务简介
                用户可向鑫亚科技申请开通“鑫亚科技云平台”、申请提供互联网信息技术、电子签章等服务。
 
第二条   用户身份保证
                2-1 用户承诺并保证自己是具有完全民事行为能力和完全民事权利能力的自然人、法人、实体和组织。用户在此保证所填写（或上传）的用户信息是真实、准确、完整、有效的，并对做出前述行为已取得相应授权，无任何引人误解或者虚假的陈述。保证鑫亚科技可以通过用户所填写的联系方式与用户取得联系。
                2-2 用户应根据鑫亚科技对于相关服务的要求及时提供相应的如，身份证明、营业执照等资料，否则鑫亚科技有权拒绝向该会员或用户提供相关服务。
                2-3   用户承诺将及时更新其用户信息以维持该等信息的有效性。
                2-4 如果用户提供的资料或信息包含有不正确、不真实的信息，鑫亚科技保留取消用户会员资格并随时结束为该用户提供服务的权利。
                2-5 以代理人身份代理其他自然人或者企业进行注册用户必须向鑫亚科技提供代理人和被代理人的详细资料和信息及授权书面文件。
 
第三条   信息通知
                用户充分理解鑫亚科技将通过电子邮件和手机短信的方式与注册会员保持联络及沟通，用户在此同意鑫亚科技通过电子邮件和手机短信方式向其发送包括会员信息、鑫亚科技产品及服务信息在内的相关商业及非商业联络信息。
 
第四条   会员身份确认
                4-1 用户注册成功后将得到一个用户名和密码，用户凭用户名和密码享受鑫亚科技向其会员用户提供的产品、服务。
                4-2 用户将对用户名和密码安全负全部责任，未经书面告知并经鑫亚科技同意，不得将用户名和密码擅自转让或者授权他人使用，否则用户应承担由此造成的一切后果。用户对以其用户名进行的所有活动和行为负责，用户有权根据鑫亚科技规定的程序修改密码。
                4-3   用户若发现任何非法使用用户帐号或存在安全漏洞的情况，请立即通知鑫亚科技。
                4-4   凡属于鑫亚科技下属成员企业的客户，在成功注册成为成员企业会员的同时，自动取得鑫亚科技会员身份，并有权向鑫亚科技任一家或多家成员企业申请相关服务，同时取得在鑫亚科技云平台系统与其他会员间进行交易的资格。
 
第五条   服务条款的修改和服务体系修订
                鑫亚科技有权在必要时修改服务条款，鑫亚科技服务条款一旦发生变动，将会在重要页面上提示修改内容。如果不同意所改动的内容，用户可以主动取消获得的网络服务。如果用户继续享用鑫亚科技网络服务，则视为接受服务条款的变动。鑫亚科技保留随时修改其服务体系和价格而不需通知用户的权利，鑫亚科技修改其服务和价格体系之前用户就具体服务与鑫亚科技达成协议并已按照约定交纳费用的，鑫亚科技将按照已达成的协议执行至已交纳费用的服务期期满。
 
第六条   用户的权利和义务
                6-1 用户有权获得鑫亚科技会员俱乐部的会员资格并取得用户名和密码，并有权利使用该用户名和密码随时登录鑫亚科技网站的会员专区获得会员服务。
                6-2 用户有权向鑫亚科技申请提供开通“鑫亚科技云平台”、电子签章、互联网技术和信息服务等项目服务，并有权利在接受鑫亚科技提供的服务时获得鑫亚科技的技术支持、咨询等服务（服务内容详见鑫亚科技相关产品介绍）。
                6-3 用户保证不会利用技术或其他手段破坏及扰乱鑫亚科技网站以及鑫亚科技其他客户的网站。
                6-4 用户应尊重鑫亚科技及其他第三方的知识产权和其他合法权利，并保证在发生上述事件时尽力保护鑫亚科技及其雇员、合作伙伴等免于因该等事件受到影响或损失；鑫亚科技保留用户侵犯鑫亚科技知识产权时终止向该用户提供服务、不退还任何款项的权利，并追究相应法律责任。
                6-5 对由于用户向鑫亚科技提供的联络方式有误以及用户用于接受鑫亚科技邮件的电子邮箱安全性、稳定性不佳而导致的一切后果，用户应自行承担责任，包括但不限于因用户未能及时收到鑫亚科技的相关通知而导致的后果和损失。
                6-6 用户保证其使用鑫亚科技服务时将遵从国家、地方法律法规、行业惯例和社会公共道德，不会利用鑫亚科技所提供的服务进行存储、发布、传播如下信息和内容：违反国家法律法规政策的任何内容（信息）；违反国家规定的政治宣传和/或新闻信息；涉及国家秘密和/或安全的信息；封建迷信和/或淫秽、色情、下流的信息或教唆犯罪的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；防碍互联网运行安全的信息；侵害他人合法权益的信息和/或其他有损于社会秩序、社会治安、公共道德的信息或内容。用户同时承诺不得为他人发布上述不符合国家规定和/或本服务条款约定的信息内容提供任何便利，包括但不限于设置URL、BANNER链接等。用户承认鑫亚科技有权在用户违反上述时有权终止向用户提供服务并不予退还任何款项，因用户上述行为给鑫亚科技造成损失的，用户应予赔偿。
                6-7 用户不得在平台得违规出售国家法律法规禁止出售、限制出售，或根据鑫亚科技云平台管理要求禁止出售或限制出售的商品。
                6-8 用户不得在鑫亚科技云平台商品页面（包括但不限于商品标题、商品描述、商品图片），店铺页面（包括但不限于店铺命名，店铺分类，店铺介绍，店铺公告，店铺留言），以及社区和论坛等信息发布区块发布禁售、限售商品相关信息。
                6-9 用户不得通过任何方式规避本规范及其他鑫亚科技云平台禁售、限售商品管理措施。商家发布前述禁售、限售商品及信息时，鑫亚科技云平台有权对其发布的涉嫌违规信息进行提示、替换、拦截等操作。 
 
第七条  鑫亚科技的权利和义务
                7-1  鑫亚科技应根据用户选择的服务项目以及费用支付的情况向用户提供产品服务。
                7-2 鑫亚科技承诺对用户资料采取对外保密措施，不向第三方披露用户资料，不授权第三方使用用户资料，除非：
                7-2-1  依据本协议条款或者用户与鑫亚科技之间其他服务协议、合同、在线条款等规定可以提供；
                7-2-2  依据法律法规的规定应当提供；
                7-2-3  行政、司法等有权部门要求鑫亚科技提供；
                7-2-4  用户同意鑫亚科技向第三方提供；
                7-2-5  鑫亚科技解决举报事件、提起诉讼而提交的；
                7-2-6  鑫亚科技为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提交的；
                7-2-7  鑫亚科技为向用户提供产品、服务、信息而向第三方提供的，包括鑫亚科技通过第三方的技术及服务向用户提供产品、服务、信息的情况。
                7-3 鑫亚科技有权使用用户资料，该等使用仅为旨在提升鑫亚科技俱乐部会员服务质量，评定会员信用等级、增强会员间交易互信以创建以诚信为基础的安全交易环境为目的之用。
                7-4 鑫亚科技有权对用户进行审查并决定是否接受用户成为鑫亚科技会员或是否与用户进行交易。
                7-5 鑫亚科技保留在用户违反国家、地方法律法规规定或违反本在线注册条款的情况下终止为用户提供服务并终止用户帐号的权利，并且在任何情况下，鑫亚科技对任何间接、偶然、特殊及继起的损害不负责任。
 
第八条 服务的终止
                8-1 用户有权随时申请终止其会员资格或其在鑫亚科技申请的一项或多项服务，但已交纳款项不得要求退还。
                8-2 鑫亚科技有权根据实际情况决定取消为用户提供的一项或多项服务，但应退还用户为该服务所交纳款项的剩余部分，除此之外鑫亚科技不承担任何责任。
 
第九条 关于授权的特别约定
                9-1  投资用户在认真阅读本注册条款并自愿完成注册的同时特向鑫亚科技授权如下：
                9-1-1 授权鑫亚科技成员企业：鑫亚科技互联网金融（深圳）有限公司代为签署与投资相关的各类文件，包括线下需要投资用户书面签署的投（融）资协议（合同）等文件。
                9-2  企业用户在认真阅读本注册条款并自愿完成注册的同时同意并授权鑫亚科技：
                9-2-1 同意接受鑫亚科技为创建并保障安全、诚信交易环境，基于前述7-3对企业用户（会员）的信用状况予以评级（注：该信用评级也可由企业用户主动申请）。
                9-2-2   授权鑫亚科技为完成信用评级使用该企业用户所提交的相关资料。
                授权鑫亚科技为完成信用评级通过公开渠道或其他合法方式从第三方处取得并使用关于该企业用户的相关资料。
 
第十条  争议解决及法律适用
                10-1 因本服务条款有关的一切争议，各方当事人应通过友好协商方式解决。如果协商未成，同意向鑫亚科技经营地的人民法院起诉。
                10-2 本注册条款的效力、解释、履行和争议的解决均适用中华人民共和国法律法规和计算机、互联网行业的规范。
 
第十一条  不可抗力
                11-1 因不可抗力或者其他意外事件，使得本协议履行不可能、不必要或者无意义的，遭受不可抗力、意外事件的一方不承担责任。
                11-2 不可抗力、意外事件是指不能预见、不能克服并不能避免且对一方或双方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。
                11-3 用户同意鉴于互联网的特殊性，黑客攻击、互联网连通中断或者系统故障等属于不可抗力，由此给用户或者第三方造成的损失无需承担责任。
 
第十二条  附则
                12-1 本注册条款中有关条款若被权威机构认定为无效，不应影响其他条款的效力，也不影响本服务条款的解释、违约责任及争议解决的有关约定的效力。
                12-2 一方变更通知、通讯地址或其他联系方式，应自变更之日起及时将变更后的地址、联系方式通知另一方，否则变更方应对此造成的一切后果承担责任。用户同意，鑫亚科技的有关通知只需在鑫亚科技有关网页上发布即视为送达用户。
                12-3 因鑫亚科技上市、被收购、与第三方合并、名称变更等事由，用户同意鑫亚科技可以将其权利和/或义务转让给相应的鑫亚科技权利/义务的承受者。
  
                用户在此保证已经完全阅读并理解了上述会员注册条款并自愿正式进入鑫亚科技会员在线注册程序，接受上述所有条款的约束。

        </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
